# Ambiente virtual
venv/

# Pycache
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações e variáveis de ambiente
.env
instance/

# Banco de dados local
*.db

# Cache e relatórios de testes
.pytest_cache/
.coverage

# Arquivos de log
*.log

# Diretórios de migração do Alembic (mantém apenas scripts)
migrations/versions/__pycache__/

# Outros arquivos temporários
.DS_Store
Thumbs.db 