flask==2.0.3
werkzeug==2.0.3
flask-sqlalchemy==2.5.1
sqlalchemy==1.4.46  # Versão específica para compatibilidade
marshmallow==3.14.1
python-dotenv==0.19.0
flask-migrate==3.1.0
flask-cors==3.0.10
flask-jwt-extended==4.4.4
