{% extends "base.html" %}

{% block content %}
    <h1>Clientes</h1>
    <a href="{{ url_for('client_controller.create') }}">Novo Cliente</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>
                    <a href="{{ url_for('client_controller.edit', id=client.id) }}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}